/* * {
  background: url(/Layer_31_copy_3.png) center(center/cover) no-repeat;
} */
/* * { 
  font-family: "Roboto", sans-serif;
}
nav {
  height: 50px;
  background-color: #212121;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 26px;
}
.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader img {
  max-width: 100%;
  margin-top: 16px;
}
.subheader span {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call a {
  color: #ffffff;

  font-size: 22px;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
}
.sbh {
  margin-top: 11px;
}
.subheader_btn {
  
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
body {
  position: relative;
}
.promo {
  background: url(/2-layers.jpg);
  height: 800px;
  padding-top: 150px;
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: -1;
}

.promo h1 {
  color: #ffffff;

  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: normal;
  line-height: 48px;
  text-transform: uppercase;

}
.promo_text {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.promo_btn {
  
  display: block;
  margin: 0 auto;
  margin-top: 143px;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.reasons {
  margin-top: 714px;
  text-align: center;
}
.label {
  display: inline-block;
  width: 112px;
  padding-top: 6px;
  margin-top: 68px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;

  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.title{
    color: #222222;
font-size: 38px;
font-weight: 700;
line-height: 48px;
text-align: center;
text-transform: uppercase;
margin-top: 38px;
margin-bottom: 40px;
}
.reasons_img{margin-right: 26px;
    vertical-align: bottom ;
}
.reason_item_text {
  width: 343px;
  display: inline-block;
  text-align: left;
}
.col-md-6{margin-bottom: 25px;
}
.reason_item_text{color: #202020;
  
    font-size: 15px;
    font-weight: 300;
    
    letter-spacing: normal;
    line-height: 21px;
    
}
.reason_item_text span{
color: #1eacc7;

font-size: 17px;
font-weight: 400;
line-height: normal;
}*/
